.title {
  margin: 2rem 0 1rem;
}
.taskItem {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.checkBox {
  flex: 0 0 10%;
  max-width: 10%;
  height: 2rem;
  margin-top: 0.5rem;
}
.taskName {
  flex: 0 0 70%;
  max-width: 70%;
  padding: 0 0 0.5rem;
  color: #383f50;
  &.taskNameDone {
    color: #b2b7bb;
    text-decoration: line-through;
  }
}

.taskAction {
  flex: 0 0 20%;
  min-width: 20%;
  display: flex;
  justify-content: space-between;
  .btn {
    cursor: pointer;
  }
}
